@import "variables";

.contenedor2{
    width: 100%;
    img{
        width: 100%;
        height: 27rem;
        object-fit: cover;
    }
}
.contenedor2-mob{
    display: none;
}
.presentacion-c{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 3rem;
    margin-left: 3rem;
    max-height: 35rem;

}
.intro-base{
    background-color: $extracolor; 
    border-radius: 5px; 
    width: 40vw; 
    padding: 1rem;
}
.intro-crema{
    @extend .intro-base;
    text-align: start;
    height: 30rem;
    font-size: x-large
}
.intro2-crema{
    @extend .intro-base;
    text-align: end;
    height: 20rem;
}
.intro-mobile{
    display: none !important;
}
@mixin cremas-clasf ($columnas){
    display: grid;
    grid-template-columns: $columnas;
    gap: 2rem;
    justify-items: center;
}
.contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    .clasf-crema{
        border-radius: 12px;
        margin: 10px;
        text-align: start; 
        background-color: $extracolor;
        width: 90%; 
        max-width: 1320px;
        h3{
            color: $fontcolor;
        }
        .img-clasf{
            @include cremas-clasf(repeat(3, 1fr));
            img{
                width: 20rem;
                height: 20rem;
                object-fit: cover;
                transition: transform 0.3s ease-in-out;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}



@media (max-width: $mobile){
    .contenedor2{
        display: none !important;
    }
    .contenedor2-mob{
        display: block !important;
        position: relative;
        background-color: $extracolor2;
        padding: 100px 10px;
        text-align: center;
        clip-path: ellipse(90% 100% at 70% 100%);
        margin-bottom: 4rem;
        z-index: 1;
        .cremas-cont{
           
            h3{
                font-size: 20px;
                font-weight: bold;
                color: $extracolor;
                position: absolute;
                top: 65%;
                left: 30%;
                z-index: 3;
                text-align: end;
                padding: 10px;
            }
            img{
                width: 13rem;
                height: 10rem;
                position: absolute;
                top: 20%;
                left: 3%;
                z-index: 2;
                transform: translate(-20%, -3%);
            }
            
        }
    }
    .intro-mobile{
        display: block !important;
        margin: 15px;
    }
    .intro-crema, .intro2-crema{
        display: none !important;
    }
    .img-clasf{
        @include cremas-clasf(repeat(2, 1fr));
        img{
            width: 2rem !important;
            height: 4rem !important;
        }
        
        }
    
    
    .clasf-crema{
        border-radius: 12px;
        width: 90%;
        height: 10rem;

}
}
@media (max-width:$tablet){

    .intro-crema{
        display: block;
        margin: 2rem;
        width: 90%;
        height: 18rem;
        p{
            font-size: 20px;
        }
    }
    .intro2-crema{
        display: none;
    }
    .img-clasf{
        @include cremas-clasf(repeat(3, 1fr));
        img{
            width: 100% !important;
            height: 100% !important;
            object-fit: cover;
        }
    }
    
}
