@import "variables";


.skala-productos{
    background-color: rgb(231, 211, 211);
    padding: 4rem 2rem;
    .productos-lista{
        display: flex ;
        flex-direction: row;
        justify-content: center;
        margin: 25px auto;
        width: 80%;
        align-items: center;
        .producto{
            width: 12%;
            img{
                width: 10rem;
                height: auto;
                transition: transform 0.3s ease-in-out;
                &:hover{
                    transform: scale(1.3);
                }
            }
        }
    }
    .boton{
        background-color: rgb(235, 165, 194);
        border-radius: 10px;
        cursor: pointer;
        &:hover{
            background-color: $extracolor2;
        }
    }
}
 
.skala-vision{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
   
    .img-imp{
        max-width: 100%;
        height: 35rem;
        display: block;
    }
    .skala-vision1{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        padding: 2rem;
        max-width: 1200px;
     
        .vision-content{
            width: 60%;
            text-align: left;
            font-size: 25px;
            gap: 40px;
        }
        .vision-img{
            width: 30%;
            max-width: 400px;
            .img-personaje{
                height: 27rem;
                
            }
           
        }
    }


}
.carrusel-item{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .img-carousel-skala{
        
        width: 100%;
        height: 19rem;
        object-fit: cover;
    }
}

/*mobile*/

@media (max-width: $mobile){
    .img-carousel-skala{
        display: none !important;
    }
    .skala-vision{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        overflow: hidden;
        box-sizing: border-box;
       
        .img-imp{
            max-width: 100%;
            height: 20rem;
            display: block;
        }
        .skala-vision1{
           
            padding: 1rem;
            max-width: 1200px;
         
            .vision-content{
                display: flex;
                flex-direction: column;
                width: 100vw;
                h3{
                 font-size: 25px;
                 text-align: left !important;
        }
                p{
                 font-size: 20px;
                 text-align: right !important;
        }
            }
            .vision-img{
                display: none;
      
        }
        }
}
.skala-productos{
    background-color: rgb(231, 211, 211);
    padding: 1rem ;
    .productos-lista{
        display: flex ;
        flex-direction: row;
        justify-content: center;
        margin: 20px auto;
        width: 100%;
        align-items: center;
        .producto{
            width: 19% ;
            img{
                width: 100%;
                transition: transform 0.3s ease-in-out;
                gap: 2px;
                &:hover{
                    transform: scale(1.3);
                }
            }
        }
    }
    .boton{
        background-color: rgb(235, 165, 194);
        border-radius: 10px;
        cursor: pointer;
        &:hover{
            background-color: $extracolor2;
        }
    }
}
}

.row{
    background-color: rgb(255, 223, 223);
    margin-top: 5rem;
    padding-bottom: 2rem;
    .col{
        .card-card{
            width: 30rem;
            height: 33rem;
            padding: 10px;
            background-color: $colorcard;
            margin-top: 2rem;
            margin-left: 4rem;
            .card-img-top{
                width: 70%;
                height: 250px;
            }
            .card-body{
                .card-text{
                    font-size: 20px;
                    width: 300px;
                   height: 200px;
                  text-align: initial;
                }
            }
        
        }
    }
}