$backcolor:   rgb(231, 211, 211);
$fontcolor: rgb(15, 9, 13);
$extrafont:  #333;
$colorcard: rgb(255, 137, 192);
$extracolor: rgb(255, 168, 226);
$extracolor2: rgb(226, 66, 101);
$mobile: 768px;
$tablet: 1024px;
