@import "variables";
@import "index";
@import "cremas";
@import "cabello";
@import "calendario";
@import  "cuidado";


body{

    background-color:  rgb(255, 255, 255);
    color: rgb(43, 25, 35);
    font-family: "Italiana", serif;
    font-weight: 800;
    font-style: normal;

    footer{
        background-color: rgb(49, 49, 49);
        height: auto;
        margin-top: 5rem;
        padding: 2rem 1rem;
        
    }
    .card-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        background-color: $extrafont;
        .card{
            width: 90%; 
            max-width: 300px; 
            height: auto;  
            background-color: rgb(219, 219, 219); 
            text-align: center;
            .card-img{
                background-color: rgb(236, 161, 211);
                width: 100%;
                height: auto;
            }
        }
    }
    .skala-suscribe{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 10px;
        text-align: center;
        margin-top: 1rem;
        .skala-logo2{
            width: 12.5vw;
            height: auto;
          }
          .skala-form1{
            text-align: end;
            }

      }
  

}
.skala-logo{
    width: 12.5vw;
    height: auto;
}