@charset "UTF-8";
.skala-productos {
  background-color: rgb(231, 211, 211);
  padding: 4rem 2rem;
}
.skala-productos .productos-lista {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px auto;
  width: 80%;
  align-items: center;
}
.skala-productos .productos-lista .producto {
  width: 12%;
}
.skala-productos .productos-lista .producto img {
  width: 10rem;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.skala-productos .productos-lista .producto img:hover {
  transform: scale(1.3);
}
.skala-productos .boton {
  background-color: rgb(235, 165, 194);
  border-radius: 10px;
  cursor: pointer;
}
.skala-productos .boton:hover {
  background-color: rgb(226, 66, 101);
}

.skala-vision {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.skala-vision .img-imp {
  max-width: 100%;
  height: 35rem;
  display: block;
}
.skala-vision .skala-vision1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  max-width: 1200px;
}
.skala-vision .skala-vision1 .vision-content {
  width: 60%;
  text-align: left;
  font-size: 25px;
  gap: 40px;
}
.skala-vision .skala-vision1 .vision-img {
  width: 30%;
  max-width: 400px;
}
.skala-vision .skala-vision1 .vision-img .img-personaje {
  height: 27rem;
}

.carrusel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carrusel-item .img-carousel-skala {
  width: 100%;
  height: 19rem;
  object-fit: cover;
}

/*mobile*/
@media (max-width: 768px) {
  .img-carousel-skala {
    display: none !important;
  }
  .skala-vision {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .skala-vision .img-imp {
    max-width: 100%;
    height: 20rem;
    display: block;
  }
  .skala-vision .skala-vision1 {
    padding: 1rem;
    max-width: 1200px;
  }
  .skala-vision .skala-vision1 .vision-content {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .skala-vision .skala-vision1 .vision-content h3 {
    font-size: 25px;
    text-align: left !important;
  }
  .skala-vision .skala-vision1 .vision-content p {
    font-size: 20px;
    text-align: right !important;
  }
  .skala-vision .skala-vision1 .vision-img {
    display: none;
  }
  .skala-productos {
    background-color: rgb(231, 211, 211);
    padding: 1rem;
  }
  .skala-productos .productos-lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    align-items: center;
  }
  .skala-productos .productos-lista .producto {
    width: 19%;
  }
  .skala-productos .productos-lista .producto img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
    gap: 2px;
  }
  .skala-productos .productos-lista .producto img:hover {
    transform: scale(1.3);
  }
  .skala-productos .boton {
    background-color: rgb(235, 165, 194);
    border-radius: 10px;
    cursor: pointer;
  }
  .skala-productos .boton:hover {
    background-color: rgb(226, 66, 101);
  }
}
.row {
  background-color: rgb(255, 223, 223);
  margin-top: 5rem;
  padding-bottom: 2rem;
}
.row .col .card-card {
  width: 30rem;
  height: 33rem;
  padding: 10px;
  background-color: rgb(255, 137, 192);
  margin-top: 2rem;
  margin-left: 4rem;
}
.row .col .card-card .card-img-top {
  width: 70%;
  height: 250px;
}
.row .col .card-card .card-body .card-text {
  font-size: 20px;
  width: 300px;
  height: 200px;
  text-align: initial;
}

.contenedor2 {
  width: 100%;
}
.contenedor2 img {
  width: 100%;
  height: 27rem;
  object-fit: cover;
}

.contenedor2-mob {
  display: none;
}

.presentacion-c {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 3rem;
  margin-left: 3rem;
  max-height: 35rem;
}

.intro-base, .intro2-crema, .intro-crema {
  background-color: rgb(255, 168, 226);
  border-radius: 5px;
  width: 40vw;
  padding: 1rem;
}

.intro-crema {
  text-align: start;
  height: 30rem;
  font-size: x-large;
}

.intro2-crema {
  text-align: end;
  height: 20rem;
}

.intro-mobile {
  display: none !important;
}

.contenedor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 95%;
}
.contenedor .clasf-crema {
  border-radius: 12px;
  margin: 10px;
  text-align: start;
  background-color: rgb(255, 168, 226);
  width: 90%;
  max-width: 1320px;
}
.contenedor .clasf-crema h3 {
  color: rgb(15, 9, 13);
}
.contenedor .clasf-crema .img-clasf {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
}
.contenedor .clasf-crema .img-clasf img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.contenedor .clasf-crema .img-clasf img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .contenedor2 {
    display: none !important;
  }
  .contenedor2-mob {
    display: block !important;
    position: relative;
    background-color: rgb(226, 66, 101);
    padding: 100px 10px;
    text-align: center;
    clip-path: ellipse(90% 100% at 70% 100%);
    margin-bottom: 4rem;
    z-index: 1;
  }
  .contenedor2-mob .cremas-cont h3 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 168, 226);
    position: absolute;
    top: 65%;
    left: 30%;
    z-index: 3;
    text-align: end;
    padding: 10px;
  }
  .contenedor2-mob .cremas-cont img {
    width: 13rem;
    height: 10rem;
    position: absolute;
    top: 20%;
    left: 3%;
    z-index: 2;
    transform: translate(-20%, -3%);
  }
  .intro-mobile {
    display: block !important;
    margin: 15px;
  }
  .intro-crema, .intro2-crema {
    display: none !important;
  }
  .img-clasf {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
  }
  .img-clasf img {
    width: 2rem !important;
    height: 4rem !important;
  }
  .clasf-crema {
    border-radius: 12px;
    width: 90%;
    height: 10rem;
  }
}
@media (max-width: 1024px) {
  .intro-crema {
    display: block;
    margin: 2rem;
    width: 90%;
    height: 18rem;
  }
  .intro-crema p {
    font-size: 20px;
  }
  .intro2-crema {
    display: none;
  }
  .img-clasf {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
  }
  .img-clasf img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
}
body {
  background-color: #ffffff;
}

.img-principal {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.img-principal .img-imp {
  max-width: 100%;
  height: 35rem;
  display: block;
}
.img-principal p {
  text-align: center;
  font-size: 20px;
  color: #333;
  padding: 2rem;
}

.opinion-base, .opiniones-cont .opinion2, .opiniones-cont .opinion {
  display: flex;
  background-color: rgb(245, 245, 70);
  justify-content: center;
}

.opiniones-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}
.opiniones-cont .opinion {
  width: 30rem;
  height: 20rem;
  text-align: left;
  gap: 2px;
}
.opiniones-cont .opinion .img-opinion {
  width: 50%;
  height: 100%;
  object-fit: cover;
}
.opiniones-cont .opinion .opinion-info {
  font-size: 15px;
  padding: 10px;
}
.opiniones-cont .opinion .opinion-info .estrellas {
  color: #f8f3f6;
}
.opiniones-cont .opinion .opinion-info .estrellas::before {
  content: "★★★★★";
  letter-spacing: 3px;
}
.opiniones-cont .opinion2 {
  flex-direction: column;
  align-items: flex-start;
  width: 20rem;
  height: 20rem;
  padding: 10px;
}
.opiniones-cont .opinion2 .estrellas {
  color: #f8f3f6;
}
.opiniones-cont .opinion2 .estrellas::before {
  content: "★★★★★";
  letter-spacing: 3px;
}
.opiniones-cont .opinion2 .img-opinion2 {
  width: 150px;
  height: 150px;
  border-radius: 60px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .img-principal {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .img-principal .img-imp {
    max-width: 100%;
    height: 20rem;
    display: block;
  }
  .img-principal p {
    font-size: 1rem;
  }
  .opinion2, .opinion {
    display: none !important;
  }
  .video-cont {
    height: 15rem;
  }
}
@media (max-width: 1024px) {
  .opinion2 {
    display: none !important;
  }
  .opinion {
    display: block;
    width: 70%;
  }
  .opinion img {
    width: 40%;
    height: 100%;
    object-fit: cover;
  }
}
.calendario-capilar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
.calendario-capilar .calendario-titulo h2 {
  font-size: 6rem;
}
.calendario-capilar .calendario {
  display: flex;
  flex-direction: column;
  background-color: rgb(226, 66, 101);
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 5px;
}
.calendario-capilar .calendario .tipos-cabello {
  display: flex;
  width: 100%;
  border: 2px solid pink;
  max-width: 1000px;
  align-items: center;
}
.calendario-capilar .calendario .tipos-cabello .primer-columna {
  flex: 1;
  background-color: rgb(255, 137, 192);
  font-weight: bolder;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid pink;
  writing-mode: sideways-rl;
  transform: rotate(180deg);
  padding: 5px;
  height: 18rem;
}
.calendario-capilar .calendario .tipos-cabello .contenido {
  flex: 3;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.calendario-capilar .calendario .tipos-cabello .contenido .fila {
  display: flex;
  width: 100%;
}
.calendario-capilar .calendario .tipos-cabello .contenido .fila .celda {
  flex: 3;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 3rem;
  border: 1px solid beige;
  gap: 5px;
  padding: 5px;
}

.contenedor-cuidado {
  display: grid;
  gap: 20px;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}
.contenedor-cuidado .item-cont {
  display: flex;
  flex-direction: column;
  background-color: rgb(203, 255, 154);
  padding: 10px;
  margin: 15px;
}
.contenedor-cuidado .item-cont img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}
.contenedor-cuidado .item-cont .texto-cont {
  padding-left: 10px;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(43, 25, 35);
  font-family: "Italiana", serif;
  font-weight: 800;
  font-style: normal;
}
body footer {
  background-color: rgb(49, 49, 49);
  height: auto;
  margin-top: 5rem;
  padding: 2rem 1rem;
}
body .card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #333;
}
body .card-footer .card {
  width: 90%;
  max-width: 300px;
  height: auto;
  background-color: rgb(219, 219, 219);
  text-align: center;
}
body .card-footer .card .card-img {
  background-color: rgb(236, 161, 211);
  width: 100%;
  height: auto;
}
body .skala-suscribe {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  margin-top: 1rem;
}
body .skala-suscribe .skala-logo2 {
  width: 12.5vw;
  height: auto;
}
body .skala-suscribe .skala-form1 {
  text-align: end;
}

.skala-logo {
  width: 12.5vw;
  height: auto;
}

/*# sourceMappingURL=estilos.css.map */
